// Colors
$primary-color: #2b29a4;
$light-blue: #d6e6fe;
$dark-grey: #4c4c4c;

// Media Query Sizes
$mq-xs: '(max-width: 420px)';
$mq-s: '(max-width: 640px)';
$mq-md: '(max-width: 768px)';
$mq-lg: '(max-width: 1024px)';
$mq-xl: '(max-width: 1280px)';
$mq-xxl: '(min-width: 1824px)';
