.kundeanbefalinger-container {
  background-color: var(--primary-dark-color);
}

.kundeanbefalinger-container .section-title {
  color: var(--primary-light-color);
}

.kundeanbefalinger-quote p {
  color: var(--primary-light-color);
  width: 75vw;
  max-width: 65rem;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.kundeanbefalinger-quote p:last-child {
  font-style: italic;
  color: #cad2e0;
  font-size: 1.2rem;
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  .kundeanbefalinger-quote p {
    font-size: 1rem;
  }
  .kundeanbefalinger-quote p:last-child {
    font-size: 1rem;
  }
}
