.kundeanbefalinger-container {
  background-color: var(--primary-dark-color);
}

.kundeanbefalinger-container .section-title {
  color: var(--primary-light-color);
}

.kundeanbefalinger-container p {
  font-style: italic;
  color: var(--primary-light-color);
  width: 75vw;
  max-width: 65rem;
  text-align: center;
  font-size: 1.25rem;
}
