footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--secondary-dark-color);
  background-color: var(--primary-light-color);
  text-align: center;
  padding: 1.875rem;
  font-size: 0.8125rem;
  line-height: 25px;
  font-family: Fira Sans, Fira-Sans-Fallback, sans-serif;
}
