.tjenester-item-container {
  display: flex;
  padding: 0 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.tjenester-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 20%;
  min-width: 135px;
}

.tjenester-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  /* border: solid var(--primary-dark-color) 3px; */
  margin-bottom: 1rem;
}

.tjenester-item-icon img {
  width: 80%;
  filter: invert(11%) sepia(8%) saturate(2706%) hue-rotate(180deg)
    brightness(103%) contrast(87%);
}

.tjenester-item-title {
  font-size: 1.25rem;
  max-width: 11rem;
  font-weight: 600;
  color: var(--primary-dark-color);
  text-align: center;
}

.tjenester-item-text {
  font-size: 1.25rem;
  color: var(--primary-dark-color);
  text-align: center;
  line-height: 1.4;
  padding-top: 0.25rem;
}

.tilbud-button {
  border: var(--primary-dark-color) solid 2px;
  padding: 1rem 2.5rem;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--primary-dark-color);
  border-radius: 5px;
  box-shadow: 0 0.25rem 0 rgb(0 0 0 / 15%);
  transition: 0.3s;
}

.tilbud-button:hover {
  border-color: var(--primary-dark-color);
}

.tjenester-more-container {
  padding: 25px;
  border-bottom: var(--secondary-dark-color) solid 1px;
  border-top: var(--secondary-dark-color) solid 1px;
  margin: 0 30px 15px 30px;
}

.tjenester-more-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-dark-color);
  text-align: center;
}

.tjenester-more-subtitle {
  font-size: 1.5rem;
  color: var(--primary-dark-color);
  text-align: center;
  line-height: 1.4;
  padding-top: 0.25rem;
}

.tjenester-more-container p {
  font-size: 1.25rem;
  padding: 0 50px;
}

@media only screen and (max-width: 600px) {
  .tjenester-item-title {
    font-size: 1rem;
  }
  .tjenester-more-title {
    font-size: 1.25rem;
  }
  .tjenester-more-subtitle {
    font-size: 1rem;
  }
  .tjenester-item-text {
    font-size: 1rem;
  }

  .tjenester-more-container p {
    font-size: 1rem;
    padding: 0 5vw;
  }

  .tilbud-button {
    padding: 1rem 2.5rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .tjenester-item-title {
    font-size: 1rem;
  }
  .tjenester-more-title {
    font-size: 1rem;
  }
  .tjenester-more-subtitle {
    font-size: 1rem;
  }
  .tjenester-item-text {
    font-size: 1rem;
  }

  .tjenester-more-container {
    padding: 15px;
    border-bottom: var(--secondary-dark-color) solid 1px;
    border-top: var(--secondary-dark-color) solid 1px;
    margin: 0 5vw 15px 5vw;
  }

  .tjenester-item {
    width: 100%;
  }
}
