.section-container {
  padding: 85px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.inner-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80rem;
  margin: 0 auto;
}

.section-title {
  color: var(--primary-dark-color);
  text-align: center;
  font-family: Roboto, Roboto-Fallback, sans-serif;
  font-size: 2.6rem;
  padding: 0 0 1rem;
  font-weight: 500;
}

.section-subtext {
  color: var(--secondary-dark-color);
  font-size: 1.5rem;
  /* margin-top: -0.875rem;
  margin-bottom: 12px; */
  margin: -0.875rem 12px 12px;
  text-align: center;
}

@media only screen and (max-width: 830px) {
  .section-title {
    font-size: 2.1rem;
  }
  .section-subtext {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .section-title {
    font-size: 1.75rem;
  }
}
